$primary-color: #272727;
$secondary-color: #ff3f6c;
$white: #fff;
$grey: #aaaaaa;
$border-color: #d7d7d7;
$code-color: #d63384;

$error-color: rgb(97, 26, 21);
$error-icon-color: #f44336;
$error-background-color: rgb(253, 236, 234);

$warning-color: rgb(102, 60, 0);
$warning-icon-color: #ff9800;
$warning-background-color: rgb(255, 244, 229);

$info-color: rgb(13, 60, 97);
$info-icon-color: #2196f3;
$info-background-color: rgb(232, 244, 253);

$success-color: rgb(30, 70, 32);
$success-icon-color: #4caf50;
$success-background-color: rgb(237, 247, 237);

$status-online-color: #1b7052;
$status-away-color: #f9a61a;
$status-dnd-color: #f34648;
$status-dnd-black-color: #212121;

$box-shadow-button: 0px 3px 1px -2px RGB(0 0 0 / 20%), 0px 2px 2px 0px RGB(0 0 0 / 14%), 0px 1px 5px 0px RGB(0 0 0 / 12%);
$box-shadow-button-hover: 0px 2px 4px -1px RGB(0 0 0 / 20%), 0px 4px 5px 0px RGB(0 0 0 / 14%), 0px 1px 10px 0px RGB(0 0 0 / 12%);

$btn-primary-hover: rgba(0, 0, 0, 0.75);
$btn-primary-text-hover: rgba(0, 0, 0, 0.04);
$btn-secondary-hover: #c10043;
$btn-secondary-text-hover: rgba(220, 0, 78, 0.04);
$btn-hover-background: #d5d5d5;

$card-shadow: RGBA(0, 0, 0, 0.24) 0px 3px 8px;
$card-title-color: RGB(17, 17, 17);
$card-para-color: RGB(117, 117, 117);
