/* Badge Component Styles Start */

.badge {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;
  text-align: center;
  margin-right: 1rem;

  &-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
  }

  &-avatar {
    width: 20%;
    height: 20%;
    position: absolute;
    border-radius: 50%;
    border: 2px solid $white;
    bottom: 4%;
    right: 6%;
    background-color: $primary-color;

    &.status- {
      &online {
        background-color: $status-online-color;
      }

      &away {
        background-color: $status-away-color;
        &::after {
          content: '';
          position: absolute;
          width: 55%;
          height: 55%;
          background-color: $white;
          border-radius: 50%;
          top: 0;
          left: 0;
        }
      }

      &dnd {
        background-color: $status-dnd-color;
        &::after {
          content: '';
          position: absolute;
          width: 65%;
          height: 20%;
          background-color: $status-dnd-black-color;
          border-radius: 2px;
          top: 45%;
          left: 15%;
        }
      }
    }
  }

  &-icon {
    position: relative;
    width: 10%;
    height: 10%;

    &.number {
      position: absolute;
      font-size: 0.75em;
      width: 50%;
      height: 50%;
      border-radius: 50%;
      background-color: $secondary-color;
      color: $white;
      top: 0;
      right: -15%;
    }
  }
}

/* Badge Component Styles End */
