/* Input Component Styles Start */

.form-control {
  position: relative;
  margin: 1.25rem 0;
  width: 300px;
}

.form-control input {
  border: 0;
  border-bottom: 2px solid $primary-color;
  padding: 1rem 0;
  display: block;
  font-size: 1.125rem;
  font-family: inherit;
  width: 100%;
  @include transition-ease;
  color: $primary-color;
}

.form-control input:focus,
.form-control input:valid {
  border-bottom-color: $secondary-color;
  outline: 0px solid $white;
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: $secondary-color;
  transform: translateY(-30px);
}

.form-control label {
  position: absolute;
  top: 1rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1.125rem;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Input Component Styles End */
