/* List Component Styles Start */

.list {
  list-style-type: none;
  border: 1px solid #e6e6e9;
  width: 17em;
}

.list-heading {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 700;
}

.list.list-spaced li {
  padding: 1rem 1.5rem;
  margin: 0 1rem;
}

.list.list-stacked {
  padding: 2rem 0;
}

.list.list-stacked li {
  padding: 1rem 1.5rem;
  margin: 0.75rem 1rem;
  border: 1px solid #e6e6e9;
  border-radius: 5px;
  background-color: #f7f5f5;
}

/* List Component Styles End */
