/* Resetting Styles Start */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $white;
  color: $primary-color;
  min-height: 100vh;
  font-family: Lato, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: $white;
}

/*
  Reseting the size of material UI icons
*/

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.material-icons-outlined.md-18 {
  font-size: 18px;
}
.material-icons-outlined.md-24 {
  font-size: 24px;
}
.material-icons-outlined.md-36 {
  font-size: 36px;
}
.material-icons-outlined.md-48 {
  font-size: 48px;
}

/* Resetting Styles End */
